body {
    background-color: #9b9f9a;
    font-family: 'Courier New', Courier, monospace;
}

img {
    float: right;
    box-shadow: rgba(0, 0, 0, 0.80) 0px 5px 15px;
}

h1 {
    margin-top: 3%;
    text-align: center;
    font-size: 50px;
}

.link-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.name-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    background-color: #201f32;
    border: 3px solid #fbfafa;
    padding: 2%;
    margin: 2%;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 15px;
}

.name-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e02b2f;
    color: black;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 3px;
    padding: 10px 20px;
    font-size: 20px;
    margin: 0;
}

.name-links:hover {
    border-color: #fbfafa;
    color: #fbfafa;
    cursor: pointer;
}

.back-button {
    background-color: #e02b2f;
    color: black;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 3px;
    padding: 10px 20px;
    font-size: 20px;
    top: 20px;
    left: 20px;
    float: left;
    position: absolute;
}

.back-button:hover {
    border-color: #fbfafa;
    color: #fbfafa;
    cursor: pointer;
}

.text-persons {
    font-size: 25px;
    color: #fbfafa;
}

.paragraph-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    background-color: #201f32;
    border: 3px solid #fbfafa;
    padding: 0 2%;
    margin: 2%;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 15px;
}

.name-title {
    font-size: 60px;
    margin-top: 3%;
    margin-bottom: 1%;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    h1 {
        margin-top: 5%;
        margin-bottom: 2%;
        font-size: 100px;
    }

    img {
        height: 160px;
        width: 160px;
    }

    .name-box {
        width: 600px;
        background-color: #201f32;
        border: 6px solid #fbfafa;
        padding-left: 4%;
        padding-top: 2%;
        padding-bottom: 2%;
        margin: 4%;
        box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 15px;
    }

    .name-links {
        border-radius: 20px;
        border-width: 6px;
        padding: 20px 40px;
        font-size: 40px;
    }

    .back-button {
        background-color: #e02b2f;
        color: black;
        border-style: solid;
        border-color: black;
        border-radius: 10px;
        border-width: 6px;
        padding: 20px 40px;
        font-size: 50px;
        top: 40px;
        left: 40px;
        float: left;
        position: absolute;
    }
    
    .text-persons {
        font-size: 50px;
        color: #fbfafa;
    }
    
    .paragraph-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 600px;
        background-color: #201f32;
        border: 6px solid #fbfafa;
        padding: 0 4%;
        margin: 4%;
        box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 15px;
    }
    
    .name-title {
        font-size: 120px;
        margin-top: 6%;
        margin-bottom: 2%;
        text-align: center;
    }
}