body {
    background-color: #9b9f9a;
    font-family: 'Courier New', Courier, monospace;
}

img {
    float: right;
    box-shadow: rgba(0, 0, 0, 0.80) 0px 5px 15px;
}

a {
    text-decoration: none;
}

h1 {
    margin-top: 3%;
    text-align: center;
}

.link-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gift-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    background-color: #201f32;
    border: 3px solid #fbfafa;
    padding: 2%;
    margin: 2%;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 15px;
}

.gifts {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e02b2f;
    color: black;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 3px;
    padding: 10px 20px;
    font-size: 20px;
    margin: 0;
}

.gifts:hover {
    border-color: #fbfafa;
    color: #fbfafa;
    cursor: pointer;
}
